name: leam

services:
  model:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    restart: unless-stopped
    networks:
      - net
    expose:
      - "8000"

  nginx:
    image: nginx:1.29.3-alpine-slim
    container_name: ngx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/log:/var/log/nginx
      - ./nginx/ssl:/etc/nginx/ssl:ro
    networks:
      - net
    depends_on:
      - model

  fail2ban:
    image: linuxserver/fail2ban:1.1.0
    container_name: f2b
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - ./fail2ban/config:/config
      - ./fail2ban/log:/var/log:ro
      - ./nginx/log:/remotelogs/nginx:ro
    restart: unless-stopped
    depends_on:
      - nginx

networks:
  net:
    driver: bridge